body {
    background-color: #212223;
    color: #FFFFFF;
}

.main-head {
    background: url("/images/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input input {
    border-radius: 10px;
}

.submit-btn {
    border-radius: 14px;
    width: 60px;
    height: 60px;
}

.copy-btn {
    border-radius: 14px;
    width: 60px;
    height: 60px;
}

.submit-btn img {
    width: 50%;
}

@media (min-width: 1024px) {
    body {
        overflow-y: hidden;
    }
}